table {
    display: block;
    color: black;
    text-align:left;
    text-decoration: none;
}

th {
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
}

ul {   
    border-radius: 10px; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: rgb(10, 55, 114);
}

li {
    float: left;
  }
  
  li a {
    border-radius: 10px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li a:hover {
    font-weight:bold;
    background-color: rgb(61, 112, 170);
  }